body{
    background-image: url("/images/sunset-beach.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:  100% 120vh;
    overflow: hidden;
    
}

.input-group{
    display: block;
    margin: 0 auto;
    margin-left: 38%;
    margin-top: 4%;
    
}
.form{
    border: 1px solid grey;
    box-shadow: 3px 3px 5px grey;
}

.city{
text-align: center;
   left: 0;
   color: white;
    margin-top:10%;
    width: 65%;
}

.city>h2{
    font-size: 3em;
}
.row{
    justify-content: space-between;
    
}
.precipitation{
    text-align: center;
    margin-top: 10%;
    width: -50%;
    color: white;
}
p{
    font-size: 25px;
}
.alldays{
    margin-top: 10%;
    display: flex;
    justify-content: space-evenly;
    color: white;
}
.opacity{
    background-color: rgba(44, 42, 42, 0.5);
    width: auto;
    height:max-content;
}
